GDIDial/GDIDial.xcodeproj/project.xcworkspace/contents.xcworkspacedata
GDIDial/GDIDial.xcodeproj/project.xcworkspace/xcuserdata/grantdavis.xcuserdatad/UserInterfaceState.xcuserstate
GDIDial/GDIDial.xcodeproj/project.xcworkspace/xcuserdata/grantdavis.xcuserdatad/WorkspaceSettings.xcsettings
GDIDial/GDIDial.xcodeproj/xcuserdata/grantdavis.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
GDIDial/GDIDial.xcodeproj/xcuserdata/grantdavis.xcuserdatad/xcschemes/GDIDial.xcscheme
GDIDial/GDIDial.xcodeproj/xcuserdata/grantdavis.xcuserdatad/xcschemes/xcschememanagement.plist